doctype html
html
    head
        link(rel="stylesheet" href='css/main.css' )
    meta(charset = 'utf-8')
    meta(name='viewport', content="initial-scale=1.0, width=device-width")
    title Example
    body
        .container
            .slider
                .slick-item
                .slick-item
                .slick-item


    script(src="minjs/libs.min.js")
    script(src="minjs/main.js")