//Подключение плагинов
include ../mixin

    //svg
    //+icon('cucumber')
                //+icon('beef','green_mod')
doctype html
html
    head
        link(rel="stylesheet" href='css/main.css' )
    meta(charset = 'utf-8')
    meta(name='viewport', content="initial-scale=1.0, width=device-width")
    title Example
    body
        .container
            +icon('cucumber')
            +icon('beef','green_mod')

            .slider
                .slick-item

                    include ../modules/header
                .slick-item
                    h2 hi
                .slick-item
                    h3 yoyo




    script(src="minjs/libs.min.js")
    script(src="minjs/main.js")